---
import AuthorCard from '@/components/AuthorCard.astro';
import Breadcrumbs from '@/components/Breadcrumbs.astro';
import Container from '@/components/Container.astro';
import GoodreadsGrid from '@/components/mdx/GoodreadsGrid.astro';
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';

const authors = await getCollection('authors');
const authorsData = authors.map(author => ({
  ...author.data,
  slug: author.slug,
  bio: author.data.bio || '',
}));
---

<Layout title="About" description="A list of authors on this site.">
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs items={[{ label: 'About', icon: 'lucide:users' }]} />
    {
      authorsData.length > 0 ? (
        <ul class="not-prose flex flex-col gap-4">
          {authorsData.map((author) => (
            <li>
              <AuthorCard author={author} />
            </li>
          ))}
        </ul>
      ) : (
        <p class="text-center text-muted-foreground">No authors found.</p>
      )
    }
    <h2 class="text-2xl font-bold">
      <a
        href="https://www.goodreads.com/review/list/152185079-sadman-hossain?shelf=read&sort=date_read&order=d"
        target="_blank"
        class="underline"
        style="text-underline-offset: 5px;">
          Latest Reads</a
      >
      <span class="text-muted-foreground">(Goodreads)</span>
    </h2>
    <GoodreadsGrid titleMarginTop={1} />
  </Container>
</Layout>