@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'InterVariable';
  src: url('/fonts/InterVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMonoVF.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 80.1%;
    --secondary-foreground: 0 0% 9%;
    --tertiary: 247 100% 66%;
    --tertiary-foreground: 0 0% 100%;
    --goodreads: 30 81% 26%;
    --goodreads-foreground: 51 40% 86%;
    --muted: 0 0% 80.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 80.1%;
    --accent-foreground: 0 0% 9%;
    --additive: 276 41% 45%;
    --additive-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --tertiary: 247 100% 66%;
    --tertiary-foreground: 0 0% 100%;
    --goodreads: 51 40% 86%;
    --goodreads-foreground: 30 81% 26%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --additive: 112 50% 36%;
    --additive-foreground: 0 0% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  *,
  *::before,
  *::after {
    @apply border-border;
  }

  html {
    color-scheme: light;
    @apply bg-background text-foreground;

    &.dark {
      color-scheme: dark;
    }

    ::-webkit-scrollbar-corner {
      @apply bg-transparent;
    }
  }

  .disable-transitions,
  .disable-transitions * {
    @apply !transition-none;
  }

}

@layer components {
  article {
    @apply prose-headings:scroll-mt-20 prose-headings:break-words first:prose-headings:mt-0 prose-p:break-words prose-a:!break-words prose-a:!decoration-muted-foreground prose-a:underline-offset-[3px] prose-a:transition-colors hover:prose-a:!decoration-foreground prose-pre:!px-0 prose-img:mx-auto;

    h1 {
      font-size: 3em !important;
      font-weight: 900 !important; 
      margin-top: 0.35em !important;
      margin-bottom: 0.35em !important;
      line-height: 1.0 !important;
    }

    h2 {
      font-size: 2.65em !important;
      font-weight: 825 !important;
      margin-top: 0.35em !important;
      margin-bottom: 0.35em !important;
      line-height: 1.0 !important;
    }

    h3 {
      font-size: 2.25em !important;
      font-weight: 775 !important;
      margin-top: 0.35em !important;
      margin-bottom: 0.35em !important;
      line-height: 1.0 !important;
    }

    h4 {
      font-size: 2em !important;
      font-weight: 700 !important;
      margin-top: 0.35em !important;
      margin-bottom: 0.35em !important;
      line-height: 1.0 !important;
    }

    h5 {
      font-size: 1.75em !important;
      font-weight: 650 !important;
      margin-top: 0.35em !important;
      margin-bottom: 0.35em !important;
      line-height: 1.0 !important;
    }

    h6 {
      font-size: 1.45em !important;
      font-weight: 600 !important;
      margin-top: 0.35em !important;
      margin-bottom: 0.35em !important;
      line-height: 1.0 !important;
    }

    p, ul, ol, dl, blockquote {
      font-size: 1.175em !important;
      line-height: 1.4 !important;
    }

    /* ol p {
      font-size: 1em !important;
    }     */

    img {
      border-radius: 0.75em;
      margin-top: 0.1em !important;
      margin-bottom: 0.1em !important;      
    }

    .katex-display {
      @apply overflow-x-auto overflow-y-hidden py-4;
    }

    /* Removes background from <mark> elements */
    mark {
      @apply bg-transparent;
    }

    /* Blanket syntax highlighting */
    code[data-theme*=' '] {
      span {
        color: var(--shiki-light);
      }

      .dark & span {
        color: var(--shiki-dark);
      }
    }

    /* Inline code */
    :not(pre) > code {
      @apply relative rounded bg-muted/50 px-[0.3rem] py-[0.2rem] font-mono text-sm font-medium;
    }

  }

  .expressive-code .frame.has-title:not(.is-terminal) {
    /* Language Icons */
    .title::before {
      content: '';
      @apply iconify-color size-4;
      @apply -ml-1 mr-2 -translate-y-[0.1em] align-middle;
    }
  
    &:has(pre[data-language='python']) .title::before {
      @apply vscode-icons--file-type-python;
    }
  
    &:has(pre[data-language='js']) .title::before {
      @apply vscode-icons--file-type-js-official;
    }
  
    &:has(pre[data-language='html']) .title::before {
      @apply iconify-color size-6;
      @apply -ml-2 mr-1 -translate-y-[0.1em] align-middle;      
      @apply vscode-icons--file-type-xml;
    }
  
    &:has(pre[data-language='typ']) .title::before {
      @apply -ml-2 mr-1 -translate-y-[0.1em] align-middle;
      @apply vscode-icons--default-file;
    }
  
    &:has(pre[data-language='tex']) .title::before {
      @apply iconify-color size-6;
      @apply -ml-2 mr-1 -translate-y-[0.1em] align-middle;
      @apply align-middle;
      @apply vscode-icons--file-type-tex;
    }
  }
}

/* styles.css */
blockquote::before,
q::before {
  content: none;
}

blockquote::after,
q::after {
  content: none;
}

.prose :where(table):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  width: 100%;
  table-layout: auto;
  text-align: start;
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 0.875em;
  overflow-x: auto; /* Add horizontal scroll */
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
  width: 100%; /* Ensure table takes full width of container */
}

.table-container {
  overflow-x: auto; /* Add horizontal scroll to container */
  overflow-y: auto; /* Add vertical scroll to container */
  max-height: 500px;
  margin: 0 -1em; /* Adjust margins to prevent overflow */
  padding-top: 0em; /* Add padding for better appearance */
  padding-bottom: 0em; /* Add padding for better appearance */
  padding-left: 1em; /* Add padding for better appearance */
  padding-right: 1em; /* Add padding for better appearance */
}

table thead {
  position: sticky;
  top: 0;
  background-color: hsl(var(--background)); /* Use the background variable */
  z-index: 1; /* Ensure the header is above the table rows */
}

.dark table thead {
  background-color: hsl(var(--background)); /* Use the background variable for dark mode */
}

table td, table th {
  line-height: 1.05; /* Reduce line spacing */
  max-width: 200px; /* Set maximum width for columns */
  word-wrap: break-word; /* Ensure content wraps within the max width */
}

.post-thumbnail {
  padding-left: 0 !important;
  padding-right: 0!important;
  border-radius: 0.75rem !important;
}

.swup-progress-bar {
  height: 5px;
}

html.dark .swup-progress-bar {
  background-color: white;
}

.feelback-btn {
  background-color: hsl(var(--background)) !important;
}

.prose article :where(h1):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: 3em; /* Increase the font size */
}

.no-select {
  user-select: none;
}

@layer utilities {
  .duration-600 {
    transition-duration: 200ms;
  }
}

.hover-card {
  @apply no-underline transition-all duration-600 ease-in-out rounded-lg;
}

/* Define CSS variables for box-shadow values */
:root {
  --box-shadow-small: 0px 0.1px 0.1px #e9e9e9, 0px 0.1px 0.1px #e8e8e8, 0.1px 0px 0px rgba(0, 0, 0, 0.06);
  --box-shadow-large: 0px 2px 1px #e9e9e9, 0px 3px 1px #e8e8e8, 9px 14px 18px rgba(0, 0, 0, 0.06);
  --translate-y-small: -2px;
  --translate-y-large: -3px;
}

/* Apply the box-shadow and transform based on the container size */
.hover-card:hover {
  @apply z-10 bg-gradient-to-r from-white to-border border border-gray-100 shadow-md;
  box-shadow: var(--box-shadow-large);
  transform: translateY(var(--translate-y-large));
}

/* Adjust box-shadow and transform for smaller containers */
@media (max-width: 1px) {
  .hover-card:hover {
    box-shadow: var(--box-shadow-small);
    transform: translateY(var(--translate-y-small));
  }
}

.hover-card:active {
  @apply bg-gray-200 border border-gray-400 transition-all duration-100 ease-in;
}

.hover-card.highlight {
  @apply bg-yellow-100 border border-transparent;
}

.hover-card.highlight:hover {
  @apply bg-gradient-to-r from-yellow-100 to-transparent border border-yellow-300 shadow-md;
  box-shadow: 0px 2px 1px 1px #fff394, 0px 3px 1px 1px #ffe770, 9px 14px 18px rgba(0, 0, 0, 0.06) !important;
}

.hover-card.highlight:active {
  @apply bg-yellow-100 border border-yellow-300;
}

.dark .hover-card:hover {
  @apply bg-gradient-to-r from-gray-900/80 to-border border border-gray-700;
  box-shadow: 0px 3px 2px #313131, 0px 3px 1px #3a3a3a, 9px 14px 18px rgba(255, 255, 255, 0.08) !important;
}

.dark .hover-card:active {
  @apply bg-gray-800 border border-gray-600  transition-all duration-100 ease-in;
}

.dark .hover-card.highlight {
  @apply bg-yellow-900 border border-transparent;
}

.dark .hover-card.highlight:hover {
  @apply bg-gradient-to-r from-yellow-900 to-transparent border border-yellow-700;
  box-shadow: 0px 2px 1px 1px #7a6f00, 0px 3px 1px 1px #8a7f00, 9px 14px 18px rgba(0, 0, 0, 0.06) !important;
}

.dark .hover-card.highlight:active {
  @apply bg-yellow-900 border border-yellow-700;
}

.expressive-code pre {
  max-height: min(68vh, 600px) !important;
  overflow: auto;
}
.expressive-code pre::-webkit-scrollbar-corner {
  display: none;
}