---
import Breadcrumbs from '@/components/Breadcrumbs.astro';
import Container from '@/components/Container.astro';
import ProjectCard from '@/components/ProjectCard.astro';
import { SITE } from '@/consts';
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');


// Define the order of project slugs
const projectOrder = [
  'blog/blog',
  'astro-loader-goodreads/astro-loader-goodreads',
  'eagerdb/eagerdb',
  'pey-2023-dashboard/pey-2023-dashboard',
  'fricdl/fricdl',
  'libstreetmap/libstreetmap',
  'work-study-2024/work-study-2024',
];

// Sort projects based on the defined order
const orderedProjects = projects.sort((a, b) => {
  const indexA = projectOrder.indexOf(a.slug);
  const indexB = projectOrder.indexOf(b.slug);

  if (indexA === -1 && indexB === -1) return 0;
  if (indexA === -1) return 1;
  if (indexB === -1) return -1;
  return indexA - indexB;
});
---

<Layout title="Projects" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs items={[{ label: 'Projects', icon: 'lucide:info' }]} />

    <section>
      <div class="min-w-full">
        <h1 class="mb-4 text-3xl font-bold">Projects</h1>
        <p class="prose prose-neutral mb-8 dark:prose-invert">
          <!-- {SITE.TITLE}: Sometimes boring explorations into a world of software and beyond. -->
        </p>

        <!-- <h2 class="mb-4 text-2xl font-semibold">Projects</h2> -->
        <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
          {orderedProjects.map((project) => (
            <ProjectCard project={project} />
          ))}
        </div>
      </div>
    </section>
  </Container>
</Layout>