---
import Layout from '../layouts/Layout.astro';
import Container from '@/components/Container.astro';
import GoodreadsUserUpdates from '@/components/mdx/GoodreadsUserUpdates.astro';
---

<Layout title="My Goodreads Activity" description="A list of things I use (physical and digital).">
  <Container class="flex flex-col gap-y-6">
    <main class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-8">My Goodreads Activity</h1>
    
    <GoodreadsUserUpdates 
      collection="goodreads_user_updates"
      limit={10}
    />
  </main>
  </Container>
</Layout>