---
import Container from '@/components/Container.astro'
import { SOCIAL_LINKS } from '@/consts'
import SocialIcons from './SocialIcons.astro'
import WebsiteCarbon from '@/components/mdx/WebsiteCarbon.astro'
---

<footer class="py-4">
  <Container>
    <div
      class="flex flex-col items-center justify-center gap-y-2 sm:flex-row sm:justify-between"
    >
      <div class="flex items-center">
        <p class="text-center text-sm text-muted-foreground">
          &copy; 2020 - {new Date().getFullYear()} Sadman Hossain. All rights reserved.
        </p>
      </div>
      <SocialIcons links={SOCIAL_LINKS} />
    </div>
    <div
      class="websitecarbon mt-2 flex flex-col items-center justify-center gap-y-2 sm:flex-row sm:justify-between sm:mt-0"
    >
      <WebsiteCarbon co2="0.20" percentage="79"/>
    </div>
  </Container>
</footer>