---
import Container from '@/components/Container.astro'
import { SOCIAL_LINKS } from '@/consts'
import SocialIcons from './SocialIcons.astro'
---

<footer class="py-4">
  <Container>
    <div
      class="flex flex-col items-center justify-center gap-y-2 sm:flex-row sm:justify-between"
    >
      <div class="flex items-center">
        <p class="text-center text-sm text-muted-foreground">
          &copy; 2020 - {new Date().getFullYear()} Sadman Hossain. All rights reserved.
        </p>
      </div>
      <SocialIcons links={SOCIAL_LINKS} />
    </div>
    <div id="wcb" class="carbonbadge flex justify-left"></div>
  </Container>
</footer>

<script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const wcbElement = document.getElementById('wcb');
    const observer = new MutationObserver(() => {
      if (document.documentElement.classList.contains('dark')) {
        if (wcbElement) {
          wcbElement.classList.add('wcb-d');
        }
      } else {
        if (wcbElement) {
          wcbElement.classList.remove('wcb-d');
        }
      }
    });

    observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });

    if (document.documentElement.classList.contains('dark')) {
      if (wcbElement) {
        wcbElement.classList.add('wcb-d');
      }
    }
  });
</script>