---
import { Icon } from 'astro-icon/components'

interface Props {
  type?: 'default' | 'info' | 'warning' | 'flag' | 'destructive'
  icon?: string
  classes?: string
}

const { type = 'default', icon: customIcon, classes: customClasses } = Astro.props

const typeMapping = {
  default: {
    icon: 'lucide:lightbulb',
    classes: 'bg-primary/20',
  },
  info: {
    icon: 'lucide:info',
    classes: 'bg-secondary/50',
  },
  warning: {
    icon: 'lucide:alert-triangle',
    classes:
      'border-yellow-600/100 bg-yellow-100/40 dark:border-yellow-400/100 dark:bg-yellow-900/40',
  },
  flag: {
    icon: 'lucide:flag',
    classes: 'bg-primary/20 justify-center',
  },
  destructive: {
    icon: 'lucide:alert-octagon',
    classes: 'border-red-700/100 bg-red-100/70 dark:border-red-400/100 dark:bg-red-900/40',
  },
}

const { icon, classes } = typeMapping[type]
const finalIcon = customIcon || icon
const finalClasses = customClasses || classes
---

<div class={`relative my-6 flex gap-4 rounded-xl border-2 p-4 ${finalClasses}`}>
  <span class="text-md pointer-events-none select-none relative" style="top: 8px;">
    <Icon name={finalIcon} size={23} />
  </span>
  <div class="-my-4 prose-code:break-all">
    <slot />
  </div>
</div>
