---
import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
import { SITE } from '@/consts'

type Props = {
  title: string
  description: string
  image?: string
}

const { title, description, image } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <script defer src="https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js" is:inline data-astro-rerun></script>
    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      src="https://www.googletagmanager.com/gtag/js?id=G-Q095PB1G6R"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-Q095PB1G6R");
    </script>

    <Head
      title={`${title} – ${SITE.TITLE}`}
      description={description}
      image={image}
    />
  </head>
  <body>
    <div
      class="box-border flex h-fit min-h-screen flex-col gap-y-6 font-sans antialiased"
    >
      <Header />
      <main class="flex-grow">
        <slot />
      </main>
      <Footer />
    </div>
    <script is:inline>
      function rerunObserver() {
        const script = document.querySelector('script[data-astro-rerun]');
        if (script) {
          const newScript = document.createElement('script');
          newScript.src = script.src;
          newScript.defer = true;
          newScript.is = 'inline';
          newScript.dataset.astroRerun = true;
          script.replaceWith(newScript);
        }
      }

      document.addEventListener('astro:page-load', rerunObserver);
      document.addEventListener('astro:after-swap', rerunObserver);
      document.addEventListener('swup:enable', rerunObserver);
    </script>
  </body>
</html>
